video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
}
.Input_fields{
    display: flex;
    justify-content: center;
}

.submit_field{
    display: flex;
    justify-content: center;
}

label {
    font-size: 40px;
    color: white;
}

input {
    padding:10px;
    margin:10px;
    border-radius: 5px;
    opacity: 0.7;
    background-color: black;
    color: white;
}

.imgcontainbar{
    display: flex;
    justify-content: center;
}
.chartimg {
    padding: 5px;
    margin: 10px;
    width: 50%;
    height: 50%;
}