video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.Ints_Para {
    display: flex;
    text-align: center;
    font-size: xx-large;
    padding: 50px;
    padding-top: 100px;
    background: linear-gradient(to right,rgba(32,244,213,1),rgba(39,42,245,1),rgba(32,244,213,1),rgba(141,0,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Steps{
    display: flex;
    margin: 0px 100px 0px 100px; /*top right bottom left */
    padding: 0px 10px 10px 10px;
    font-size: x-large;
    background: linear-gradient(to right,rgb(196, 196, 196),rgb(255, 255, 255),rgba(196, 196, 196),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 40px;
    border-radius: 20px;
}

.step:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.step > img {
    border-radius: 20px;
    width: 100%;
}
.contain-step {

  padding: 20px;
}

@media screen and (max-width: 1200px) {
    .Ints_Para {
        display: flex;
        text-align: center;
        font-size: large;
        padding: 50px;
        padding-top: 100px;
        background: linear-gradient(to right,rgba(32,244,213,1),rgba(39,42,245,1),rgba(32,244,213,1),rgba(141,0,255,1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .Steps{
        display: grid;
        margin: 0px 100px 0px 100px; /*top right bottom left */
        padding: 0px 10px 10px 10px;
        font-size: medium;
        background: linear-gradient(to right,rgb(196, 196, 196),rgb(255, 255, 255),rgba(196, 196, 196),rgb(255, 255, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 100px;
    }
    .step{
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        margin: 40px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 700px) {
    .Ints_Para {
        display: flex;
        text-align: center;
        font-size: small;
        padding-top: 100px;
        background: linear-gradient(to right,rgba(32,244,213,1),rgba(39,42,245,1),rgba(32,244,213,1),rgba(141,0,255,1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .Steps{
        margin: 50px 50px 0px 50px; /*top right bottom left */
        padding: 10px;
        font-size: medium;
        background: linear-gradient(to right,rgb(196, 196, 196),rgb(255, 255, 255),rgba(196, 196, 196),rgb(255, 255, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
